<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pet-Agende</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Pet-Agende</h1>
            <img src="/static/img/Veterinario.jpg" alt="Ícone pet shop" class="icon" />
            <h1>Saúde e bem-estar do seu pet, 
                    com poucos cliques.</h1>
        </header>
        <main>
            <section class="card">
                <img src="/static/img/mulher_pet.jpg" alt="Consulta" />
                <div class="card-text">
                    <h2>Consultas</h2>
                    <p>Escolha o dia e horário para agendar a consulta de seu companheiro, contamos com profissionais qualificados para atender cães e gatos.</p>
                    <a href="/consulta" class="botao-link">Agendar</a>
                </div>
            </section>
            <section class="card">
                <img src="/static/img/atendimento_vet.jpg" alt="Banho e Tosa" />
                <div class="card-text">
                    <h2>Banho e Tosa</h2>
                    <p>O nosso melhor amigo também merece o seu dia de Spa, trabalhamos com os melhores produtos e métodos para o bem de seu Pet.</p>
                    <a href="/banho_tosa" class="botao-link">Agendar</a>
                </div>
            </section>
        </main>
    </div>
</body>
</html>